body {
     background-color:#f23d45;
    }
#title {
    font-family: monospace;
    font-style: bold;
        font-size: 45px;
     margin-left:50%;
}
.box {

}
#sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}
