body {
     background-color:#f23d45;
    }
h1 {
    font-family: monospace;
    font-style: bold;
        font-size: 45px;
     margin-left:10%;
}

#sidebar {
     font-size: 25px;     
       background:#373737;
            width: 50%%;
            height: 100%;
     margin-right:0;
     margin-left:0;
}
.box {
font-size: 25px;
     font-family: monospace;
            font-style: italic;
}
