body {
     text-align: center;
     background-color:#ff5757;
    }
h1 {
    font-family: monospace;
    font-style: bold;
        font-size: 45px;
     margin-left:10%;
}

p {
        font-family: monospace;
            font-size: 25px;
            font-style: italic;
}

#box {
     font-size: 25px;
     text-align:center;
       background:#4c4c4c;
            width: 25%;
            height: 100%;
     margin-right:100px;
     margin-left:0;
}
